.btn-primary-outline {
    color: #fff;
    background-color: transparent !important;
    border-color: transparent !important;
    border: 0 !important;
    box-shadow: none !important;

}

.heart{
    color: black !important;
}